# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_kinedactyl_lh
    def_bool $(shields_list_contains,kinedactyl_lh)

config SHIELD_kinedactyl_rh
    def_bool $(shields_list_contains,kinedactyl_rh)
