if SHIELD_kinedactyl_lh

config ZMK_KEYBOARD_NAME
    default "kinedactyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_kinedactyl_lh || SHIELD_kinedactyl_rh

config ZMK_SPLIT
    default y

endif
